@font-face {
    font-family: 'Uni Sans Heavy CAPS';
    src: url('../font/UniSansHeavyCAPS.eot');
    src: url('../font/UniSansHeavyCAPS.svg') format('embedded-opentype'),
        url('../font/UniSansHeavyCAPS.woff2') format('woff2'),
        url('../font/UniSansHeavyCAPS.woff') format('woff'),
        url('../font/UniSansHeavyCAPS.ttf') format('truetype'),
        url('../font/UniSansHeavyCAPS.svg') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');